<form method="get" action="/notes{{#if token }}?token={{ token }}{{/if}}">
    <ul>
        {{#each notes}}<li><a href="/notes/edit/{{this._id}}{{#if token }}?token={{ token }}{{/if}}">{{this.data}}</a> + {{this.time}} + <a href="/notes/delete/{{this._id}}{{#if token }}?token={{ token }}{{/if}}">delete</a></li>{{/each}}
    </ul>
</form>